body{
    margin: 0;
    padding: 0;
    font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;;
}

nav{
    background-color: #f7f7f7;
    padding: 5px 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

#title h1{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    float: left;
    margin: 5px;
    list-style: none;
}

.interface{
    box-sizing: border-box;
    padding: 10px;
    width: 25%;
    height: 100%;
    border: 1px solid #f1f1f1;
    float: left;
}

textarea{
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.code-input{
    width: 100%;
    height: 97%;
    border: none;
}

.interface h2{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 13px;
}

.interface > iframe{
    width: 100%;
    height: 97%;
    border: none;
}
